channelaccesstoken.txt
tsmc-monitor-2a246d265897.json
FinMind token.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# 环境变量
.env
.env.local

# 系统文件
.DS_Store
Thumbs.db